<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard - API Pagos</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
  <h1>Mi Cuenta</h1>
  <div id="saldo">Cargando saldo...</div>

  <div class="acciones">
    <button id="btnTransfer">Transferir</button>
    <button id="btnHistorial">Historial</button>
    <button id="btnReportes">Reportes</button>
  </div>

  <button id="cerrarSesion">Cerrar Sesión</button>

  <script src="../js/dashboard.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
