<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Validar CUIT - API Pagos</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
  <h1>Validación CUIT (Simulada SOAP)</h1>

  <label for="cuit">CUIT:</label>
  <input type="text" id="cuit" />
  <button id="validar">Validar</button>

  <pre id="resultado" style="border: 1px solid #ccc; padding: 10px;"></pre>

  <button id="volver">Volver al Dashboard</button>

  <script src="../js/soap.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>
